@model IEnumerable<FilmSitesi.Models.Series>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class=card>
        <div class="card-body">
            <table class="table-dark table-sm">

                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a class="btn btn-success" asp-action="Edit" asp-route-id="@item.id">Edit</a></td>
                            <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">Details</a></td>
                            <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a></td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</table>
