<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-6">
                    <p style="color:aliceblue">
                        Adminlerimize ulaşmak için mail atabilirsiniz.

                       
                    </p>
                       


                </div>   
                



                </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <p style="color:aliceblue">Deniz Sarıbayır</p>

                    <ul>

                        <li style="color:aliceblue"><a href="mailto:deniz.saribayir@ogr.sakarya.edu.tr">deniz.saribayir@ogr.sakarya.edu.tr</a> </li>
                        <li style="color:aliceblue"><a href="http://denizsaribayir.cf">http://denizsaribayir.cf</a> </li>
                        


                    </ul>


                </div>
                <div class="col-lg-4">


                    <p style="color:aliceblue">Oğuzhan Yanık</p>

                    <ul>

                        <li style="color:aliceblue"><a href=" mailto:oguzhan.yanik@org.sakarya.edu.tr">oguzhan.yanik@org.sakarya.edu.tr</a></li>
                        <li style="color:aliceblue"><a href="http://oguzhanyanik.com">http://oguzhanyanik.com</a> </li>
                        
                    </ul>
                </div>
            </div>
</section>