<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-6">
                    <p style="color:aliceblue">
                        Adminlerimize ulaşmak için mail atabilirsiniz.

                        <ul>
                            <li style="color:aliceblue">Deniz Sarıbayır : <a href="mailto:deniz.saribayir@ogr.sakarya.edu.tr">deniz.saribayir@ogr.sakarya.edu.tr</a> </li>
                            <li style="color:aliceblue">Oğuzhan Yanık : <a href=" mailto:oguzhan.yanik@org.sakarya.edu.tr">oguzhan.yanik@org.sakarya.edu.tr</a></li>
                        </ul>
                    </p>
                       


                </div>   
                



                </div>
            
         </div>
    </div>
</section>