 <!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Giriş Yap</h2>
                    <p>Hoşgeldiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Giriş Yap</h3>
                    <form action="#">
                        <div class="input__item">
                            <input type="text" placeholder="Email address">
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Password">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Giriş</button>
                    </form>
                    <a href="#" class="forget_pass">Şifremi Unuttum.</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Üye değil misiniz?</h3>
                    <a href="#" class="primary-btn">Şimdi üye ol.</a>
                </div>
            </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>Veya</span>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Facebookla giriş yap.</a></li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Google ile giriş yap.</a></li>
                            <li>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i> Twitter ile giriş yap.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->